*{
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-image: url("../img/background-pattern.png");
	background-repeat:repeat;
}

#box {
	background-color: white;
	width: 60%;
	margin: 12% auto;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.column {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
	margin: 30px 0;
}

.button {
	text-decoration: none;
	color: #000;
	background: #FFF;
	padding: 20px 40px;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin: 0 10px;
}

.button:hover{
	transition: all 0.2s ease-in-out;
	box-shadow: rgb(0, 0, 0, 0.24) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* Vendespil styling */

#VS-container{
    display: grid;
    grid-gap: 1.5em;
    grid-template-rows: repeat(auto-fit, 5em);
    grid-template-columns: repeat(auto-fit, 5em);
    width: 100%;
    height: 100%;
    margin: 1em 0;
    justify-content: space-evenly;
}

.VS-h1, .VS-timer, .VS-infotext{
align-self: center;
font-family: 'M PLUS Rounded 1c', sans-serif;
}

.VS-h1{
    font-size: 8rem;
    color: #369bdf;
    -webkit-text-stroke: 2px #ddd;
    text-shadow: 0px 2px 5px #000;
}

.VS-timer, .VS-infotext{
    font-size: 1em;
}

.VS-infotext{
    margin: 0 0 1em;
}

.VS-timer {
    font-size: 2em;
}

.VS-grid-item{
    text-align: center;
    cursor: pointer;
    min-width: 5em;
    min-height: 5em;
    background-color: transparent;
    perspective: 1000px;
    border-radius: 100px;
}

.VS-grid-item-img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.VS-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 0px 5px #ddd, 0px 5px 10px 0px #000;
    border-radius: 100px;
}

.VS-grid-item-clicked{
    transform: rotateY(180deg);
}

.VS-card-inner-front, .VS-card-inner-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 100px;
}

.VS-card-inner-front{
    background-color: #369bdf;
}

.VS-card-inner-back{
    transform: rotateY(180deg);
}
